/* ----- Fonts ----- */
@font-face {
  font-family: "Roboto";
  src:  url(../fonts/roboto.woff2) format("woff2"),
        url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url(../fonts/robotomedium.woff2) format("woff2"),
        url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url(../fonts/robotobold.woff2) format("woff2"),
        url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ----- Variables ----- */
:root {
  --bg-green: #849D8F;
  --bg-grey: #8996A6;
  --bg-brown: #9D8B84;

  --basic-extra-black: #323232;
  --basic-black: #5A5A5A;
  --basic-white: #FFFFFF;
  --basic-red: #E84D37;

  --form-milk: #F8F7F4;
  --form-white: #FEFEFE;

  --nav-current: #D07058;
  --nav-hover: #FBDED7;
  --nav-onclick-red: #F6B5A5;
  --nav-onclick-white: #EDEDED;

  --link-hover: #FFBC9E;
  --link-popup-hover: #E84D37;

  --page-hover: rgba(255, 255, 255, 0.4);
  --page-onclick: #FFFFFF;

  --checkbox: rgba(255, 255, 255, 0.8);
  --checkbox-hover: #FFFFFF;
  --checkbox-disabled: rgba(255, 255, 255, 0.4);
}

/* ----------------------------- */
html,
body {
  height: 100%;
  line-height: 1;
}
.page-body--green {
  background-color: var(--bg-green);
}
.page-body--gray {
  background-color: var(--bg-grey);
}
.page-body--brown {
  background-color: var(--bg-brown);
}
.page-body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--basic-white);
}

/* ----- Прячет заголовки ----- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 27px;
}
/* ----- Ширина с учётом отступа от края страницы ----- */
/* [class*="__container"] {
  padding: 0;
  box-sizing: content-box;
  margin: 0 auto;
} */
/* ----- Прижимаем подвал к низу страницы ----- */
.main {
  flex: 1 0 auto;
}
/* ----------------------------- */
.footer {
  flex: 1 0 auto;
}
/* ----------------------------- */
img {
  max-width: 100%;
  height: auto;
}
/* ----------------------------- */
.button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: 0;
  color: var(--basic-white);
}
/* Remove border and padding in Firefox */
/* ::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
} */
/* ----------------------------- */

/* ----- Header ----- */
.main-header {
  z-index: 50;
}
.main-header__logo {
  margin-right: 24px;
}
.logo__image svg {
  display: block;
}
.main-header__navigation ul {
  margin: 0;
  padding: 0;
}
.site-navigation__list {
  display: flex;
}
.site-navigation__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  list-style: none;
  align-items: center;
  padding: 8px 14px;
}
.site-navigation__item--disabled {
  background: #D07058;
  border-radius: 26px;
}
.site-navigation__link {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.site-navigation__item:not(:last-child) {
  margin-right: 32px;
}
.site-navigation__link--disabled {
  text-decoration: none;
}
.user-navigation__list {
  display: flex;
}
.user-navigation__item--search .user-navigation__text {
  padding: 8px;
}
.user-navigation__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding: 8px 16px;
}
.user-navigation__item {
  list-style: none;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}
.main-header__info {
  text-align: end;
}
.main-header__work-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
}
.main-header__contacts {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09;
}
.main-header__info a {
  text-decoration: none;
  color: inherit;
}
.main-header__main-line {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  min-height: 75px;
  box-sizing: content-box;
}
.main-header__logo {
  justify-self: center;
}
.main-header__navigation {
  display: flex;
  justify-content: space-between;
}
.main-header__user-navigation {
  justify-self: end;
}

/* ----- Promo (slider) ----- */
.promo {
  margin-top: -125px;
  margin-bottom: 40px;
}
.promo__slider {
  max-height: 966px;
  overflow: hidden;
  position: relative;
  /* display: flex; */
}
.promo__slide {
  position: relative;
}
.promo__slide:not(.promo__slide--active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.promo__image {
  margin: 0 -27px;
  display: block;
}
.promo__description {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 400px;
  left: 0;
  right: 0;
  margin: 0;
}
.promo__action {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -420px;
  position: relative;
}
.promo__button--order {
  width: 261px;
  height: 62px;
  z-index: 3;
}
.promo__button-text {
  font: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  color: var(--basic-white);
}
.promo__paginator {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 20px;
}
.promo__button--paginator {
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: transparent;
  min-width: 21px;
  min-height: 21px;
}
.promo__button--active {
  background-color: var(--basic-white);
}

/* ----- Gift ----- */
.gift {
  margin-bottom: 40px;
}
.gift__container img {
  display: block;
  border-radius: 16px;
}
.gift__raspberry {
  position: relative;
}
.gift__chocolate {
  position: relative;
}
.gift__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 22px 22px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.gift__subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
  margin: 0 0 16px 0;
}
.gift__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;
  height: 100%;
}
.gift__button {
  align-self: end;
}
.gift__button--jam {
  max-width: 164px;
}
.gift__button--chocolate {
  max-width: 191px;
}
.gift__button-text {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--basic-white);
  padding: 15px 15px;
}
.gift__image--raspberry {
  max-width: 560px;
  max-height: 229px;
  background-color: rgb(131, 40, 63);
  border-radius: 16px;
}
.gift__image--chocolate {
  max-width: 560px;
  max-height: 229px;
  background-color: rgb(109, 54, 22);
  border-radius: 16px;
}
.gift__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

/* ----- Hit ----- */
.hit {
  margin-bottom: 40px;
}
.hit__image {
  position: relative;
}
.hit__price span {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
}
.hit__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  position: absolute;
  bottom: 20px;
}
.hit__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  margin: 17px 0 0 0;
}
.hit__image img {
  border-radius: 50%;
  display: block;
}
.hit__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
}

/* ----- About ----- */
.about {
  margin-bottom: 40px;
}
.about__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--basic-extra-black);
  margin: 0 0 7px 0;
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--basic-extra-black);
  margin: 14px 0 0 0;
}
.about__container {
  max-width: 1146px;
  background-color: #e4dcc2;
  background-image: url(../img/benefits-pattern.png);
  background-repeat:repeat;
  border-radius: 16px;
  padding: 24px 20px;
}
.about__benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 19px;
  column-gap: 26px;
}
.about__item {
  display: flex;
  flex-wrap: nowrap;
}
.about__icon {
  margin-right: 6px;
}

/* ----- News / Subscribe ----- */
.news__content {
  max-width: 560px;
  max-height: 220px;
}
.news__container {
  position: relative;
}
.news__content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 23px 20px;
}
.news__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: var(--basic-extra-black);
  margin: 0 0 15px 0;
}
.news__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--basic-extra-black);
}
.news__image {
  max-width: 560px;
  max-height: 220px;
  background-color: #fff;
  border-radius: 16px;
}
.news__image img {
  border-radius: 16px;
}
.subscribe__container {
  position: relative;
}
.subscribe__image {
  max-width: 560px;
  max-height: 220px;
  background-color: #fff;
  border-radius: 16px;
}
.subscribe__image img {
  display: block;
  border-radius: 16px;
}
.subscribe__content {
  max-width: 548px;
  max-height: 210px;
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 34px 24px;
}
.subscribe__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--basic-black);
  margin: 0 0 47px 0;
}
.subscribe__form-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  width: 130px;
  height: 44px;
}

.main__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin-bottom: 40px;
}
.main__column img {
  display: block;
}

/* ----- Contacts ----- */
.contacts__container {
  position: relative;
  margin-bottom: 18px;
}
.contacts__image {
  background-color: #f7e7cf;
}
.contacts__form {
  background-color: var(--form-white);
  border-radius: 16px;
  padding: 32px 25px;
  max-width: 303px;
  max-height: 306px;
  position: absolute;
  top: 60px;
  right: 25px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.428;
  color: var(--basic-extra-black);
  padding-bottom: 24px;
}
.contacts__address p {
  margin: 0;
}
.contacts__address span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  margin: 0;
}
.contacts__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--basic-extra-black);
  padding-bottom: 24px;
}
.contacts__phone p {
  margin: 0;
}
.contacts__phone a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: inherit;
  margin: 0;
}
.contacts__button {
  width: 253px;
  height: 43px;
  align-self: center;
  padding-bottom: 31px;
}
.contacts__button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--basic-white);
  padding: 9px;
}
.contacts__image {
  background-color: #e4dcc2;
}
.contacts__image img {
  display: block;
}

/* ----- Footer ----- */
.main-footer ul {
  padding: 0;
}
.main-footer__socials {
  display: flex;
}
.main-footer__socials-item {
  list-style: none;
}
.main-footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.main-footer__link--bold {
  font-weight: 700;
}
.main-footer__info-item {
  list-style: none;
}
.main-footer__copyrights {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.main-footer__copyrights a {
  text-decoration: none;
  color: inherit;
}
a.main-footer__copyrights-link {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.main-footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.main-footer__info {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-footer__copyrights {
  justify-self: end;
}

/* ----- Breadcrumbs ----- */
.breadcrumbs__list {
  display: flex;
  margin: -29px 0 9px 0;
  padding: 0;
}
.breadcrumbs__item {
  list-style: none;
  z-index: 50;
}
.breadcrumbs__item:not(:last-child) {
  margin-right: 8px;
}
.breadcrumbs__link {
  line-height: 1.14;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.breadcrumbs__link--disabled {
  text-decoration: none;
}
.breadcrumbs__subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
  margin: 0 0 29px;
  padding: 0;
}

/* ----- Filter ----- */
.filter {
  margin: 0 0 40px;
}
.filter__form {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  flex-direction: column;
}
.filter__form fieldset {
  border: 0;
  margin: 0 16px 0 0;
  padding: 0;
}
.filter__form legend {
  margin: 0 0 0 16px;
}
.filter__wrapper {
  display: flex;
}
.filter__wrapper:not(:last-child) {
  margin: 0 0 14px;
}
.filter__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.filter__item {
  list-style: none;
}
.filter__item:not(:last-child) {
  margin-right: 19px;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  color: inherit;
  width: 144px;
  height: 36px;
}
.filter__button {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

/* ----- Products ----- */
.products {
  margin: 0 0 30px;
}
.products__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
  margin: 0 0 80px;
}
.products__image {
  position: relative;
}
.products__price span {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
}
.products__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
  position: absolute;
  bottom: 20px;
}
.products__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  margin: 17px 0 0 0;
}
.products__image img {
  border-radius: 50%;
  display: block;
}
.products__paginator {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.products__button-paginator {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  color: var(--basic-white);
  list-style: none;
}
.products__button-paginator:not(:first-child),
.products__button-paginator:not(:last-child) {
  margin-right: 20px;
}
.products__button-paginator:first-child {
  margin: 0 25px 0 0;
}
.products__button-paginator:last-child {
  margin: 0 0 0 25px;
}
.products__button-link {
  color: var(--basic-white);
  text-decoration: none;
  list-style: none;
}
.products__button-link {
  color: var(--basic-white);
  text-decoration: none;
}
.products__button-link--active {
  color: var(--basic-extra-black);
  text-decoration: none;
}

/* ----- Footer ----- */
