/* ----- Fonts ----- */
@font-face {
  font-family: "Roboto";
  src:  url(../fonts/roboto.woff2) format("woff2"),
        url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url(../fonts/robotomedium.woff2) format("woff2"),
        url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src:  url(../fonts/robotobold.woff2) format("woff2"),
        url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* ----- Variables ----- */
:root {
  --bg-green: #849D8F;
  --bg-grey: #8996A6;
  --bg-brown: #9D8B84;

  --basic-extra-black: #323232;
  --basic-black: #5A5A5A;
  --basic-white: #FFFFFF;
  --basic-red: #E84D37;
  --basic-milk: #F8F7F4;;

  --nav-current: #D07058;
  --nav-hover: #FBDED7;
  --nav-onclick-red: #F6B5A5;
  --nav-onclick-white: #EDEDED;

  --link-hover: #FFBC9E;
  --link-popup-hover: #E84D37;

  --page-hover: rgba(255, 255, 255, 0.4);
  --page-onclick: #FFFFFF;

  --checkbox: rgba(255, 255, 255, 0.8);
  --checkbox-hover: #FFFFFF;
  --checkbox-disabled: rgba(255, 255, 255, 0.4);
}

/* ----------------------------- */
html,
body {
  height: 100%;
  line-height: 1;
}
.page-body--green {
  background-color: var(--bg-green);
}
.page-body--gray {
  background-color: var(--bg-grey);
}
.page-body--brown {
  background-color: var(--bg-brown);
}
.page-body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--basic-white);
}

/* ----- Прячет заголовки ----- */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 27px;
}
/* ----- Ширина с учётом отступа от края страницы ----- */
/* [class*="__container"] {
  padding: 0;
  box-sizing: content-box;
  margin: 0 auto;
} */
/* ----- Прижимаем подвал к низу страницы ----- */
.main {
  flex: 1 0 auto;
}
/* ----------------------------- */
.footer {
  flex: 1 0 auto;
}
/* ----------------------------- */
img {
  max-width: 100%;
  height: auto;
}
/* ----------------------------- */
.button {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: 0;
  color: var(--basic-white);
}
/* Remove border and padding in Firefox */
/* ::-moz-focus-outer,
::-moz-focus-inner {
  border: 0;
  padding: 0;
} */
/* ----------------------------- */

/* ----- Header ----- */
.main-header__navigation ul {
  margin: 0;
  padding: 0;
}
.site-navigation__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  list-style: none;
}
.site-navigation__item--disabled {
  background: #D07058;
  border-radius: 26px;
}
.site-navigation__link {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.site-navigation__link--disabled {
  text-decoration: none;
}
.user-navigation__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.user-navigation__item {
  list-style: none;
}
.main-header__work-time {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.main-header__contacts {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.09;
}
.main-header__info a {
  text-decoration: none;
  color: inherit;
}
.main-header__main-line {
  display: grid;
  grid-template-columns: min-content 1fr;
}
.main-header__navigation {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.main-header__user-navigation {
  justify-self: end;
}

/* ----- Promo (slider) ----- */
.promo__image {
  margin: 0 -27px;
  display: block;
}
.promo__description {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}
.promo__button--order {
  width: 261px;
  height: 62px;
}
.promo__button-text {
  font: inherit;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.38;
  color: var(--basic-white);
}
.promo__button--paginator {
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  background-color: transparent;
  min-width: 21px;
  min-height: 21px;
}
.promo__button--active {
  background-color: var(--basic-white);
}

/* ----- Gift ----- */
.gift__container img {
  display: block;
  border-radius: 16px;
}
.gift__subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
}
.gift__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
}
.gift__button {
  width: 164px;
  height: 48px;
}
.gift__button-text {
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--basic-white);
}
.gift__image--raspberry {
  max-width: 560px;
  max-height: 229px;
  background-color: rgb(131, 40, 63);
  border-radius: 16px;
}
.gift__image--chocolate {
  max-width: 560px;
  max-height: 229px;
  background-color: rgb(109, 54, 22);
  border-radius: 16px;
}
.gift__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}

/* ----- Hit ----- */
.hit__price span {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
}
.hit__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
}
.hit__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.hit__image img {
  border-radius: 50%;
  display: block;
}
.hit__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
}

/* ----- About ----- */
.about__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: var(--basic-extra-black);
}
.about__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--basic-extra-black);
}
.about__container {
  max-width: 1146px;
  background-color: #e4dcc2;
  background-image: url(../img/benefits-pattern.png);
  background-repeat:repeat;
  border-radius: 16px;
}

/* ----- News / Subscribe ----- */
.news__content {
  max-width: 560px;
  max-height: 220px;
}
.news__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  color: var(--basic-extra-black);
}
.news__link {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: var(--basic-extra-black);
}
.news__image {
  max-width: 560px;
  max-height: 220px;
  background-color: #fff;
  border-radius: 16px;
}
.news__image img {
  border-radius: 16px;
}
.subscribe__image {
  max-width: 560px;
  max-height: 220px;
  background-color: #fff;
  border-radius: 16px;
}
.subscribe__image img {
  display: block;
  border-radius: 16px;
}
.subscribe__content {
  max-width: 548px;
  max-height: 210px;
  background-color: var(--basic-milk);
  border-radius: 16px;
}
.subscribe__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--basic-black);
}
.subscribe__form-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  width: 130px;
  height: 44px;
}

.main__column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
}
.main__column img {
  display: block;
}

/* ----- Contacts ----- */
.contacts__address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.428;
  color: var(--basic-extra-black);
}
.contacts__address span {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
}
.contacts__phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  color: var(--basic-extra-black);
}
.contacts__phone a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  text-decoration: none;
  color: inherit;
}
.contacts__button {
  width: 253px;
  height: 43px;
}
.contacts__button-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  color: var(--basic-white);
}
.contacts__image {
  background-color: #e4dcc2;
}
.contacts__image img {
  display: block;
}

/* ----- Footer ----- */
.main-footer ul {
  padding: 0;
}
.main-footer__socials-item {
  list-style: none;
}
.main-footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.38;
  text-decoration: none;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.main-footer__link--bold {
  font-weight: 700;
}
.main-footer__info-item {
  list-style: none;
}
.main-footer__copyrights {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.main-footer__copyrights a {
  text-decoration: none;
  color: inherit;
}
a.main-footer__copyrights-link {
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.main-footer__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.main-footer__info {
  justify-self: center;
}
.main-footer__copyrights {
  justify-self: end;
}

/* ----- Breadcrumbs ----- */
.breadcrumbs__item {
  list-style: none;
}
.breadcrumbs__link {
  line-height: 1.14;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.breadcrumbs__link--disabled {
  text-decoration: none;
}
.breadcrumbs__subtitle {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.17;
}

/* ----- Filter ----- */
.filter__form {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.filter__item {
  list-style: none;
}
.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  color: inherit;
  width: 144px;
  height: 36px;
}
.filter__button {
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

/* ----- Products ----- */
.products__price span {
  font-weight: 700;
  font-size: 45px;
  line-height: 1;
}
.products__price {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.17;
}
.products__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.products__image img {
  border-radius: 50%;
  display: block;
}
.products__button-paginator {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.12;
  color: var(--basic-white);
  list-style: none;
}
.products__button-link {
  color: var(--basic-white);
  text-decoration: none;
  list-style: none;
}
.products__button-paginator--active {
}
.products__button-link {
  color: var(--basic-white);
  text-decoration: none;
}
.products__button-link--active {
  color: var(--basic-extra-black);
  text-decoration: none;
}
.products__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 26px;
}

/* ----- Footer ----- */
